@font-face {
    font-family: "Digital7";
    src: url("digital-7_mono.ttf") format("truetype");
}

#maincontainer {
    margin: 1em;
}

#calculator {
    font-family: Verdana, "sans-serif";
    color: #456789;
    font-size: 1em;
    background: #ffd3ec;
    border-radius: 1.6em;
    left: 3em;
    position: absolute;
    top: 5em;
    padding: 2em .8em;
    border: #e5a9c4 2px solid;
    box-shadow: 0.15em 0.15em 0.3em 0.05em #cf99b1;
}

#description {
    font-size: 13px;
}

.button_row {
    clear: both;
}

.button {
    float: left;
    border: 2px solid #456789;
    height: 2em;
    padding: 0.5em;
    vertical-align: middle;
    text-align: center;
    line-height: 2em;
    margin: 0.3em;
    border-radius: 0.4em;
    box-shadow: 0.15em 0.15em #c6a3b7;
}

.number {
    width: 3em;
    background: #ffec85;
}

.operation {
    width: 4.2em;
    background: #ff9a65;
}

.update_result {
    width: 10.28em;
}

#equals {
    background: #6de1ff;
    width: 18.5em;
}

#clear {
    width: 2em;
    background: #fdfff8;
}

#lucky {
    width: 3em;
}

#display {
    background: aquamarine;
    width: 22.1em;
    font-style: oblique;
    box-shadow: -0.15em 0.3em 0.5em #6fdeb7 inset;
    text-align: right;

    font-family: Digital7, Verdana;
    font-size-adjust: 1.2;
    line-height: 1.5em;
    padding-right: 0.8em;
}


.button_pressed {
    box-shadow: 0 0 0 0.1em #c6a3b7;
}